/* Fuentes */
body {
    font-family: 'Poiret One', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #87CEFA;
    color: white;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Sección principal */
.section {
    padding: 50px 20px;
}

.hidden {
    display: none;
}

/* Títulos */
h1, h2 {
    font-family: 'Poiret One', cursive;
}

/* Estilo adicional para las secciones */
#inicio h2 {
    font-family: 'Aref Ruqaa Ink', serif;
}

#boda h2 {
    font-family: 'Delius', cursive;
}

#xv h2 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

#cumple h2 {
    font-family: 'Zain', sans-serif;
}
